*
{
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.reddit_logo
{
    height: 80px
}

.header_div
{
    display: flex;
    gap: 24px;
}

header
{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
    background-color: gray;
}

input
{
    height: 80px;
    width: 480px;
    border-radius: 40px;
    
}